 /* màu chữ */
.text-accent {
    color: var(--accent);
}

.text-accent-dark {
    color: var(--accent-dark);
}

/* btn isPublic*/
.toggle-public {
    display: none;
}

.btn-toggle {
    gap: 3px;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

    .btn-toggle.active {
        background: #28a745;
        color: white;
    }

    .btn-toggle.inactive {
        background: var(--secondary-dark);
        color: white;
    }

/* button custom */
.btn-secondary-dark {
    background-color: var(--secondary-dark);
    color: white;
    border: none;
}

    .btn-secondary-dark:hover {
        background-color:  var(--secondary);
    }

.btn-accent-dark {
    background-color: var(--accent-dark);
    color: white;
}

    .btn-accent-dark:hover {
        background-color: #2c211a;
    }

/* thẻ form */
.card-item {
    background: var(--primary-light);
    border-left: 4px solid var(--secondary);
}
