:root {
    --primary-light: #FAF2E4;
    --primary: #F1E7D0;
    --secondary: #C8A47F;
    --secondary-dark: #8C6A4E;
    --accent: #6F4E37;
    --accent-dark: #3F2F25;
}
body {
    background: linear-gradient(135deg, var(--primary-light), var(--primary));
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

