@model FlashCard.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = null; 
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/Css/Login.css">

</head>
<body>
    <div class="sidenav">
        <div class="login-main-text">
        </div>
    </div>
    <div class="main">
        <img class="img-logo" style="width:370px; height:150px" src="~/Image/logo_text.png" />
        <div class="col-md-6 col-sm-12">
            <form asp-action="Login">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="text-danger">
                        @ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>