@using System.Security.Claims
@inject FlashcardDbContext _context
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var flashcards = _context.Flashcards
        .Where(u => u.UserId == Int32.Parse(userId))
        .OrderByDescending(d => d.CardId)
        .Take(3)
        .ToList();
}
@foreach (var item in flashcards)
{
    <a asp-controller="Flashcards" asp-action="Details" asp-route-id="@item.CardId" class="nav-link-cus w-100">
        <i class="bi bi-card-list"></i>
        <span>@item.CardTitle</span>
    </a>
}
