@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "New Flash Card";
    Layout = null;
}
<h4> ko có j hết
</h4>
<h4>
    đăng nhập để trải nghiệm 

</h4>
<a href="./Users/Login">Login</a>